<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arrayType</key>
	<string>[&lt;!ElementType!&gt;]</string>
	<key>basicTypesWithSpecialFetchingNeeds</key>
	<array/>
	<key>booleanGetter</key>
	<string></string>
	<key>briefDescription</key>
	<string>Defines how your JSON objects can be mapped to Swift classes using the built-in NSJSONSerialization class</string>
	<key>constructors</key>
	<array>
		<dict>
			<key>bodyEnd</key>
			<string>
	}
</string>
			<key>bodyStart</key>
			<string>{
		return &lt;!ModelName!&gt;()</string>
			<key>comment</key>
			<string></string>
			<key>fetchArrayOfCustomTypePropertyFromMap</key>
			<string></string>
			<key>fetchBasicTypePropertyFromMap</key>
			<string></string>
			<key>fetchBasicTypeWithSpecialNeedsPropertyFromMap</key>
			<string></string>
			<key>fetchCustomTypePropertyFromMap</key>
			<string></string>
			<key>signature</key>
			<string>	class func newInstance() -&gt; Mappable</string>
		</dict>
	</array>
	<key>dataTypes</key>
	<dict>
		<key>boolType</key>
		<string>Bool</string>
		<key>characterType</key>
		<string>Character</string>
		<key>doubleType</key>
		<string>Double</string>
		<key>floatType</key>
		<string>Float</string>
		<key>intType</key>
		<string>Int</string>
		<key>longType</key>
		<string>Double</string>
		<key>stringType</key>
		<string>String</string>
	</dict>
	<key>displayLangName</key>
	<string>Swift - Mappable</string>
	<key>fileExtension</key>
	<string>swift</string>
	<key>genericType</key>
	<string>AnyObject</string>
	<key>getter</key>
	<string></string>
	<key>importForEachCustomType</key>
	<string></string>
	<key>instanceVarDefinition</key>
	<string>	var &lt;!VarName!&gt; : &lt;!VarType!&gt;?
</string>
	<key>langName</key>
	<string>Swift</string>
	<key>modelDefinition</key>
	<string>
class &lt;!ModelName!&gt;</string>
	<key>modelDefinitionWithParent</key>
	<string>

class &lt;!ModelName!&gt; : &lt;!ParentClass!&gt;</string>
	<key>modelEnd</key>
	<string>
}</string>
	<key>modelStart</key>
	<string>{
</string>
	<key>reservedKeywords</key>
	<array>
		<string>abstract</string>
		<string>assert</string>
		<string>boolean</string>
		<string>break</string>
		<string>byte</string>
		<string>case</string>
		<string>catch</string>
		<string>char</string>
		<string>class</string>
		<string>const</string>
		<string>continue</string>
		<string>default</string>
		<string>do</string>
		<string>double</string>
		<string>else</string>
		<string>enum</string>
		<string>extends</string>
		<string>false</string>
		<string>final</string>
		<string>finally</string>
		<string>float</string>
		<string>for</string>
		<string>goto</string>
		<string>if</string>
		<string>implements</string>
		<string>import</string>
		<string>instanceof</string>
		<string>int</string>
		<string>interface</string>
		<string>long</string>
		<string>native</string>
		<string>new</string>
		<string>null</string>
		<string>package</string>
		<string>private</string>
		<string>protected</string>
		<string>public</string>
		<string>return</string>
		<string>short</string>
		<string>static</string>
		<string>strictfp</string>
		<string>super</string>
		<string>switch</string>
		<string>synchronized</string>
		<string>this</string>
		<string>throw</string>
		<string>throws</string>
		<string>transient</string>
		<string>true</string>
		<string>try</string>
		<string>void</string>
		<string>volatile</string>
		<string>while</string>
		<string>class</string>
		<string>description</string>
	</array>
	<key>setter</key>
	<string></string>
	<key>staticImports</key>
	<string>import Foundation</string>
	<key>supportsFirstLineStatement</key>
	<string>false</string>
	<key>utilityMethods</key>
	<array>
		<dict>
			<key>body</key>
			<string></string>
			<key>bodyEnd</key>
			<string>	}
</string>
			<key>bodyStart</key>
			<string>
	{
</string>
			<key>comment</key>
			<string></string>
			<key>forEachArrayOfCustomTypeProperty</key>
			<string>		if &lt;!VarName!&gt; != nil{
			var dictionaryElements = [NSDictionary]()
			for &lt;!VarName!&gt;Element in &lt;!VarName!&gt; {
				dictionaryElements.append(&lt;!VarName!&gt;Element.toDictionary())
			}
			dictionary["&lt;!JsonKeyName!&gt;"] = dictionaryElements
		}
</string>
			<key>forEachCustomTypeProperty</key>
			<string>		if &lt;!VarName!&gt; != nil{
			dictionary["&lt;!JsonKeyName!&gt;"] = &lt;!VarName!&gt;.toDictionary()
		}
</string>
			<key>forEachProperty</key>
			<string>		&lt;!VarName!&gt; &lt;- map["&lt;!JsonKeyName!&gt;"]
</string>
			<key>returnStatement</key>
			<string>		
</string>
			<key>signature</key>
			<string>	func mapping(map: Map)</string>
		</dict>
	</array>
	<key>wordsToRemoveToGetArrayElementsType</key>
	<array>
		<string>[</string>
		<string>]</string>
	</array>
</dict>
</plist>
